* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-body {
  position: relative;
}

.name,
.number {
  position: relative;
  top: 3rem;
  left: 1rem;
}

.input-box {
  height: 3.5rem;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgb(0, 45, 243);
}
.input-box:focus {
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid black;
}

.number-section:focus + label {
  display: none;
}

.custom-btn {
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.card img[role="button"] {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card img[role="button"]:hover {
  transform: scale(1.1);
}
